body {
    font-family: 'Texturina', serif;
    background: #491a27;
}

.navbar {
    background: #f6b319;
    border-radius: 0;
    border: 0px;
}

.navbar-header .navbar-toggle, .icon-bar {
    border: 1px solid #000000;
}

.navbar-brand h1 {
    color: #255625;
    margin: -7px 0px 0px;
}

.navbar-nav {
    background: #255625;
}

.navbar-collapse {
    border: 0px;
}


.container-fluid .navbar-collapse li a {
    /*why removing any selector in this causes the coloring of text to fail*/
    color: #f7ecb5;
    border: 1px solid #ffffff;
}

.container-fluid h2 {
    color: #ffffff;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
}

.col-xs-12, .col-sm-12, .col-sm-6, .col-md-4 {
    background: #f0ffff;
    margin-bottom: 10px;
    border: 2px solid #000000;
}

